/* CSS Document */



body{
    height: 100vh;
    margin: 0;
/*    font-family: 'Poppins', sans-serif;*/
    font-family: 'Work Sans', sans-serif;
}

p{
    margin-top: 0;
}
#container{
        height: 100vh;
    background-color: white;
    }
a:hover{
    opacity: .5;
    color: white;
}

a{
    color:black;
    text-decoration:none;
}
.menu{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.about{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: rotate(-90deg);
}
.collection{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(90deg);
} 
.main {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 2em;
}

.split{
/*
    display: block;
    position: relative;
*/
    width: 50%;
    padding: 0;
/*    height: 100%;*/
}

.left-holder {
    min-height: 100vh;
    background-color:white;
    float:left;
}

.right-holder {
    min-height: 100vh;
    float: right;
}

.trans-image {
    width: 50%;
    height: 100%;
    opacity: 1;
    font-size: 60vh;
    position: fixed;
    /*    z-index: -1;*/
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    }

 .scroll-image{
    width: 100%;
    height: 100vh;
    opacity: 1;
     
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

#scrollContainer{
    height: 500vh;
    overflow: scroll;
}
.image01{
    height: 100%;
    background-color: yellowgreen;
    opacity: 1;
}

.image02{
    height: 100%;
    background-color:darkseagreen;
    opacity: 1;
}

.image03{
    height: 100%;
    background-color: darkslateblue;
    opacity: 1;
}

.image04{
    height: 100%;
    background-color: darkgoldenrod;
    opacity: 1;
}

.image05{
    height: 100%;
    background-color: darkorange;
    opacity: 1;
}

/*about page*/

#video{
    width: 100vw;
    margin: auto;
/*    height: 100vh;*/
/*
    vertical-align: middle;
    line-height: 70vh;
*/
    
  
    display:flex;
    justify-content:center;
    align-items:center;
}

video{
    width: 100%;
}

/*
.left{
    right:0;
    margin-left: 20%;
    background-color: white;
}

.right{
    margin-right: 20%;
    left:0;
    font-size: 20px;
    margin-bottom: 100px;
    color: white;
    background-color: black;
    height: 200px;
    padding-right: 10px;
}
*/
.left{
    width: 60%;
    float: left;
     box-sizing: border-box;
/*    background-color: lightgray;*/
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    padding: 100px 10% 0;

}

.right{
   width: 40%;
    float: right;
    padding: 100px 50px;
    box-sizing: border-box;
    background-color: lightgray;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;

}



#about{
    height: 100%;
    position: relative;
    clear: both;
    background-color: lightgray;
    z-index: 4;
}

/*mobile version */
@media screen and (max-width: 768px) and (orientation:portrait){
    #container{
        background-color:#000000;
    }
    .split{
        display: block;
        position: relative;
        width: 100%;
        padding: 0;
        height: 50%;
    }

    .left-holder {
        z-index: 2;
        min-height: 1px;
        background-color:white;
/*        float:left;*/
    }

    .right-holder {
        min-height: 1px;
        background-color:white;
/*        float: right;*/
    }
    .trans-image {
        width: 100%;
        height: 50%;
        opacity: 1;
        font-size: 50vh;
        position: fixed;
        text-align: center;
        vertical-align: middle;
        line-height: 50vh;
    }

    .scroll-image{
        width: 100%;
        height: 50%;
        opacity: 1;
        text-align: center;
         display:flex;
         justify-content:center;
         align-items:center;
    }
    
    .left {
        width: 100%;
        clear: left;
        box-sizing: border-box;
        background-color: lightgray;
        font-size: 18px;
        font-weight: 500;
        line-height: 130%;
        padding: 40px 35px 0;
        margin-top: 0;
    }

    .right{
        width: 100%;
        clear: right;
        padding: 40px 35px 25px;
        box-sizing: border-box;
        background-color: lightgray;
        font-weight: 300;
        line-height: 160%;
        margin-top: 0;
        word-wrap: break-word;
        font-size: 0.8em;
    }

    #video {
        width: 100%;
        margin: auto;
        vertical-align: middle;
        display: flex;
    }


}